.wrapper {
  margin: 10px left;
  max-width: 900px;
  padding: 10px;
}

header {
  padding: 10px 0 0;
  border-bottom: solid;
 }


    


footer {
  border-top: solid;
  clear: both;
}

.page {
  float: right;
  width: 70%;
  border-left: solid;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
}

aside {
  float: left;
  width: 25%;
  margin-top: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;

    
    color: #FFF;
    line-height: 35px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}

h1 { 
  color: #17539E;
 }

a { 
  color: #17539E;
 }
h1 a{
  text-transform: uppercase;
  color: rgb(210,10,50);
 }

